/*
 * Copyright © 2022 Durudex
 *
 * This file is part of Durudex: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * Durudex is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Durudex. If not, see <https://www.gnu.org/licenses/>.
 */

// theme

$primary: #9104ff
$primaryDark: #880ae9
$background: #fff
$backgroundDark: #eee
$text: #4f506a
$danger: #ff0000
$dangerDark: #da0a0a

// helpers

@mixin align-center
  display: flex
  justify-content: center

@mixin justify-center
  display: flex
  align-items: center

@mixin flex-center
  @include align-center
  @include justify-center

@mixin row($gap: 0, $reverse: false)
  display: flex
  gap: $gap
  @if $reverse
    flex-flow: row-reverse
  @else
    display: flex

@mixin column($gap: 0, $reverse: false)
  display: flex
  gap: $gap
  @if $reverse
    flex-flow: column-reverse
  @else
    flex-flow: column

@mixin forward-height
  height: 100%
  position: relative
