// theme

$primary: #9104ff
$primaryDark: #880ae9
$background: #fff
$backgroundDark: #eee
$text: #4f506a
$danger: #ff0000
$dangerDark: #da0a0a

// helpers

@mixin align-center
  display: flex
  justify-content: center

@mixin justify-center
  display: flex
  align-items: center

@mixin flex-center
  @include align-center
  @include justify-center

@mixin row($gap: 0, $reverse: false)
  display: flex
  gap: $gap
  @if $reverse
    flex-flow: row-reverse
  @else
    display: flex

@mixin column($gap: 0, $reverse: false)
  display: flex
  gap: $gap
  @if $reverse
    flex-flow: column-reverse
  @else
    flex-flow: column

@mixin forward-height
  height: 100%
  position: relative
